// button styles
.btn-print, 
.btn-pdf{
    border:none;
    background: $maincolor;
    padding: .8rem 2rem;
    margin-top:.5rem;
}
// styles till faktura
.faktura{
    max-width: 800px;
    margin:auto;
    border:1px solid #eee;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .15);
    .head{
        padding: 4vh 1vw;
        background:$maincolor !important;
        color:$mainBlack;
        letter-spacing: 3px;
    }
    // styles till text "Faktura"
    .faktura-logo{
        text-align: right;
    }
    #logo{
        max-width:100%;
        margin-right:1rem;
        max-width: 170px;
    }
    .kundInfo-container{
        margin: 5vh auto;
    }
    .kundInfo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:2rem;
        justify-content: space-evenly;
        h3{
            margin-top: 1rem;
            font-style: italic;
        }
        h6{
            margin-top: 1rem;
        }
        address{
            font-style: italic;
        }
        .alignR{
            text-align: right;
        }
        .summan{
            font-size: 2rem;
            color:$maincolor;
        }
    }
    
    .table-border-top{
        border-top: 3px solid $maincolor;
         tfoot tr:last-child td{
             color:$maincolor;
             font-size: 1.4rem;
             border-top: 1px solid $maincolor;
         }
         tfoot tr td:first-child{
             border-top: none;
         }
    }
    
    .firma{
        margin-top: 2rem;
    }
}
// styles till print sida
@media print{
    .faktura{
        font-size: 11px!important;
        overflow: hidden!important;
    }
    .firma{
        position: absolute;
        bottom: 10px;
        page-break-after:always;
    }
    .faktura>div:last-child{
        page-break-after:always;
    }
}