*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;

}


body {
    font-family: 'Sulphur Point', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #212121;
  }

  .bd-example{
    margin:auto;
    width: 795px;
    height: auto;
    box-shadow: 0 0 15px 3px #FFC10A;
    margin-top: 50px;
    border: 1px solid #212121;
}
  .slideshow h5{
    font-weight: 800;
    color: white;
    text-shadow: 0 0 10px black;
  }
  .slideshow p{
    font-weight: 800;
    color:white;
  text-shadow: 0 0 10px black;
}
@media (max-width: 880px) {
    .bd-example{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  }
/* Cards */




.Cardmain{
  position: flex;
  max-width: 1200px;
  margin: 0 auto;
 
 
}

.Tjänsttext {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    color: white;
    text-decoration: underline;
    padding:100px;
    font-family: 'Sulphur Point', sans-serif;
    letter-spacing: 2px;
    text-shadow: 0 0 8px black;
    
}

.card_image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #FFC10A;
  padding: 1rem;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid #FFC10A;
  background: transparent;
  position: relative;
 
}

.btn:hover {
  background-color: #FFC10A;
}
.price_text{ 
  font-size: x-large;
  color: white;}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  
  
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: #212121;
  border-radius: 8px;
  box-shadow: 0 0 8px 1px #FFC10A;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 18px;
  text-shadow: 0 0 2px #212121;
  margin-bottom: 50px;
  
  
}

.card_content {
  padding: 1rem;
  background-color: #212121;
}

.card_title {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-decoration: underline;
}

.card_text {
  color: white;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}



/*sytles till kontakt oss section*/
#kontakt{
     background:/*$maincolor; */ #FFC10A;
    padding: 2rem 0 1rem 0;
    color:#212121;
}
/* styles till företags logo*/
.logo-kontakt img{
    width:140px;
    background:#212121;
    clip-path: ellipse(50% 50% at 50% 50%);
    position: relative;
    left:-8rem;
    top:6rem;
    transform: rotate(-90deg);
}
#kontakt h2{
    margin-bottom: 1rem;
}
#kontakt a{
    color:#212121;
    text-decoration: none;
}
#kontakt a:hover{
    color:white;
}

.kontaktForm input,textarea{
   width:100%;
   margin-top: 1rem;
   border-radius: 5px;
   display: inline-block;
   padding: 4px 10px;
   border: 1px solid #ccc;
}
.btn-ring{
    margin-top: 1rem;
    background: /*$mainBlack*/ #212121;
    color:/*$maincolor*/#FFC10A;
    border:none;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}
.btn-ring:hover{
    background: rgb(54, 53, 53);
}
/* responsive breakpiont for small screen*/
@media only screen and (max-width:600px){
    .logo-kontakt img{
        position: relative;
        top:0;
        left: 30%;
        transform: none;
        margin-bottom: 1rem;
    }
}




  /* The footer  */
   
  footer{
    position: fixed;
    bottom: 0;
    font-family: 'Sulphur Point', sans-serif;
    
  }
   
  @media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
  }
   
   
  .footer-distributed{
    background-color: #212121;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 35px 50px;
   
  }
   
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
   
  /* Footer left */
   
  .footer-distributed .footer-left{
    width: 30%;
  }
   
   
  /* The company logo */
   
  .footer-distributed .footer-left img{
    width: 40%;
    padding-bottom: 20px;
    
  }
   
  /* Footer links */
   
  .footer-distributed .footer-links{
    color:  white;
    margin: 20px 0 12px;
  }
   
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
   
  .footer-distributed .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-decoration: underline;
  }
   
  /* Footer Center */
   
  .footer-distributed .footer-center{
    width: 35%;
  }
   
   
  .footer-distributed .footer-center i{
    background-color: #FFC10A;
    color: #212121;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  .footer-distributed .footer-center i.fa-map-marker{
    font-size: 17px ;
    line-height: 38px;
    
  }  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
    
  }
   
  .footer-distributed .footer-center p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin:0;
  }
   
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
   
  .footer-distributed .footer-center p a{
    color: white;
    text-decoration: none;;
  }
   
   
  /* Footer Right */
   
  .footer-distributed .footer-right{
    width: 30%;
  }
   
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
   
  .footer-distributed .footer-company-about span{
    display: block;
    color:  white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
   
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
   
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #FFC10A;
    color: #212121;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
   
    margin-right: 3px;
    margin-bottom: 5px;
  }
   
  /* Responsive Footer */
   
  @media (max-width: 880px) {
   
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
   
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
   
  }


 