.cart-view-container, 
.product-single{
 display: grid;
}

.cart-view-container{
    grid-template-columns: repeat(2, 1fr);
    grid-gap:4rem;
    margin: 4rem 4vw 2rem 4vw;
    padding: 2rem;
}
.products-container h2{
    text-align: center;
    margin-bottom: 2rem;
}

.product-single{
    grid-template-columns: auto 1fr auto;
    grid-gap:1rem;
    margin: 1.5rem 0;
}
.product-single img{
    border-radius: 5px;;
    max-width: 140px;
    max-height: 150px;
    margin: 10px 0;
}
.product-center .product-right{
    margin:10px 0;
}
.product-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-single h3, p, input, button{
    margin-bottom: 8px;
}
hr{
    border-top:.5px solid $mainBlack;
}
.product-single button{
    text-align: right;
}

.product-single input[type=number]{
    width:2rem;
    height: 1.7rem;
    border-radius: 3px;
}
.company-info input[type=text]{
  display: block;
  border: 1px solid $maincolor;
  border-radius: 5px;
  width:100%;
  padding: 17px 50px;
  margin-top:1rem;
}

.company-info input[type=checkbox]{
    margin-top: 1rem;
}

.product-remove, .btn-faktura{
    border:none;
    padding:.5rem .5rem;
    background: $mainBlack;
    color:$maincolor;
    border-radius: 5px;
}
.btn-faktura{
    padding: 1rem 4rem;
    margin-top: 1rem;
}
.product-remove{
    font-size: .7rem;
}

.btn-faktura-container{
    text-align: center;
}
.terms {
    padding: 0px 12px;
    margin: 20px 0px;
}

.product-remove:hover, .btn-faktura:hover {
    background-color: rgb(43, 42, 39);
}

.total-container{
    margin:1.5rem;
    text-align: right;
    font-weight: 700;
}

@media only screen and(max-width:600px){
    .cart-view-container{
        grid-template-columns: 1fr;
        grid-gap:0;
        margin: 4rem 0 2rem 0vw;
    }
    .product-single img{
        max-width: 50px;
        max-height: 50px;
    }
}