*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Sulphur Point', sans-serif;
}

body{
    background: #212121
}

a{
    color: black;
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "company company . footmeny footsocial";
    width: 100%;
    background: #FFC10A;
    
    
}

.footer__company{
    grid-area: company;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}




.footer__meny{
    grid-area: footmeny;
    list-style: none;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.footer__social{
    display: flex;
    grid-area: footsocial;
    list-style: none;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.footer__social li{
    padding-right: 10px;
}

.footer__links{
    color: black;
}